* {
  margin: 0;
  padding: 0;
  color: red;
}

.todocontainer {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.todo {
  border: 5px solid black;
  height: 600px;
  width: 900px;
}

.tasklistcontainer {
  display: flex;
  flex-direction: row;
}
.planningday {
  border: 1px solid black;
  width: 200px;
  height: 600px;
}

.planningday h2 {
  border-bottom: 1px solid black;
}

.task {
  border: 1px solid black;
  margin: 3px;
}

.welcome img {
  height: 100px ;
  width: auto;
}

.statusHandler {
  border: 5px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 45px;
  width: 564px;
  height: 290px;
  position: absolute;
  top: 55%;
  left: 50%;
  margin-top: -142px;
  margin-left: -297px;
  z-index: 9999;
  background: rgb(170, 232, 255);
}
