* {
  margin: 0;
  padding: 0;
  color: red;
}

.todocontainer {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.todo {
  border: 5px solid black;
  height: 600px;
  width: 900px;
}

.tasklistcontainer {
  display: flex;
  flex-direction: row;
}
.planningday {
  border: 1px solid black;
  width: 200px;
  height: 600px;
}

.planningday h2 {
  border-bottom: 1px solid black;
}

.task {
  border: 1px solid black;
  margin: 3px;
}
